/*轮播图开始*/
.slide{
    position: relative;
    height: 460px;
}

.img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    color: #757575;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 4px;
}
.prev-btn{
    left: 234px;
}
.next-btn{
    right: 0;
}
.prev-btn:hover,.next-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #ffffff;
}
.btns li{
    width: 6px;
    height: 6px;
    background: #232429;
    border: 2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.btns li:hover {
    background: #898a8e;
    border: 2px solid #4f4e56;

}
.btns{
    width: 128px;
    position: absolute;
    right: 0;
    bottom: 60px;
}
/*轮播图结束*/

/*列表开始*/
.sub-directory{
    position: absolute;
    z-index: 1;
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background: rgba(0,0,0,0.5);
}
.sub-directory .title{
    position: relative;
    color: #ffffff;
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
}
.sub-directory .option:hover {
    background: #ff6700;
}
.sub-directory .option:hover .follow-directory-1{
    display: block;
}
.sub-directory .option:hover .follow-directory-2{
    display: block;
}
.sub-directory .option:hover .follow-directory-3{
    display: block;
}
.sub-directory .option:hover .follow-directory-4{
    display: block;
}
.sub-directory i{
    color: #e0e0e0;
    width: 16px;
    height: 16px;
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    top: 12px;
    right: 20px;
}
.follow-directory-1,.follow-directory-2,.follow-directory-3,.follow-directory-4{
    display: none;
    background: #ffffff;
    position: absolute;
    width: 796px;
    height: 460px;
    left: 234px;
    top: 0;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    z-index: 1;
}

.follow-directory-2{
    width: 993px;
}
.follow-directory-3{
    width: 531px;
}
.follow-directory-4{
    width: 266px;
}

.next-posterity{
    background: #ffffff;
    width: 265px;
    height: 460px;
    float: left;
}
.follow-directory-2 .next-posterity{
    width: 248px;
}
.next-posterity li{
    width: 265px;
    height: 76px;
}
.follow-directory-2 li{
    width: 226px;
    height: 76px;
}
.next-posterity img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;/*将图片和文字套在一起时，文字居中*/
}
.link1, .link{
    display: inline-block;
    width: 265px;
    padding: 18px 20px ;
    color: #333333;
    font-size: 12px;
    line-height: 40px;
}
.link1{
    width: 170px;
    padding-right: 0;
 }

.link1:hover{
    color: #ff6700;
}
.link:hover{
    color: #ff6700;
}
.link2{
    display: inline-block;
    top: 26px;
    right: 10px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: #ff6700;
    background: #ffffff;
    border: 1px solid #b0b0b0;
 }
.link2:hover{
    background: #ff6700;
    color: #ffffff;
}
/*列表结束*/